@model Amendment.Model.ViewModel.AmendmentBody.AmendmentBodyDetailsViewModel

@{
    ViewBag.Title = "Delete Amendment Body";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete '@Model.Language.LanguageName'</h3>

@using (Html.BeginForm())
{
    <button type="submit" class="btn btn-danger">Delete</button>
}