body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.small-screen-container {
    position: relative;
    max-width: 360px;
}

.centered-small-screen-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
}

.margin-top-small {
    margin-top: 10px;
}

.margin-left-small {
    margin-top: 10px;
}

.scroller {
    -webkit-marquee: up medium infinite scroll normal;
    overflow-x: -webkit-marquee;
}

#fullscreen:-moz-full-screen {
    background-color: #FFFFF0;
    border: 0px solid #f00;
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 64px;
}
#fullscreen:-webkit-full-screen {
    background-color: #FFFFF0;
    border: 0px solid #f00;
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 64px;
}
#fullscreen:fullscreen {
    background-color: #FFFFF0;
    border: 0px solid #f00;
    padding-left: 100px;
    padding-right: 100px;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 64px;
}

.screen-page {
    outline: 2px rgb(118, 118, 118) solid;
}

.activepage {
    /*border: 1px red solid;*/
    outline: 2px red solid;
    background-color: #ffd0d0;
    border-radius: 3px;
}