@{
    ViewData["Title"] = "Home Page";
}


<h1>Amendments</h1>

<h3>View Amendments</h3>
<ul>
    <li>@Html.ActionLink("English", "View", "Home", new { id = "English" })</li>
    <li>@Html.ActionLink("Spanish", "View", "Home", new { id = "Spanish" })</li>
    <li>@Html.ActionLink("French", "View", "Home", new { id = "French" })</li>
</ul>