@model Amendment.Model.ViewModel.User.UserDetailsViewModel

@{
    ViewBag.Title = "Delete User";
    Layout = "_Layout";
}

<h2>Delete User</h2>

<h3>Are you sure you want to delete '@Model.Username'</h3>

@using (Html.BeginForm())
{
    <button type="submit" class="btn btn-danger">Delete</button>
}