<Repeater Items="@_renderedBodyText">
    <div class="screen-page-height">
        <div class="screen-page screen-border@(ActivePage == context.Index ? " activepage" : "")">
            <AmendmentBodySingleRenderer BodyText="@context.Body"></AmendmentBodySingleRenderer>
        </div>
    </div>
</Repeater>

@code {
    [Parameter, EditorRequired]
    public string BodyText { get; set; } = "";

    [Parameter]
    public int ActivePage { get; set; } = -1;

    List<AmendmentId> _renderedBodyText = new();

    protected override void OnParametersSet()
    {
        var text = BodyText.Split("**NEWSLIDE**");
        _renderedBodyText.Clear();

        for (int i = 0; i < text.Length; i++)
        {
            _renderedBodyText.Add(new AmendmentId(i, text[i]));
        }
    }

    private record AmendmentId(int Index, string Body);

}
