@using Amendment.Client.Repository
@using System.ComponentModel
@inject ISystemSettingRepository SystemSettingRepository
@implements IDisposable


<div class="screen-page-text">
    <div class="deafSignerPusher"></div>
    @if (SystemSettingRepository.ShowDeafSigner)
    {
        <div class="deafSignerBox@(SystemSettingRepository.ShowDeafSignerBox ? " deafSignerBackground" : "")"></div>
    }
    <div>@((MarkupString)Markdig.Markdown.ToHtml(BodyText))</div>
</div>

@code {
    [Parameter]
    public string BodyText { get; set; } = "";

    protected override Task OnInitializedAsync()
    {
        SystemSettingRepository.PropertyChanged += SystemSettingRepositoryOnPropertyChanged;
        return Task.CompletedTask;
    }

    private void SystemSettingRepositoryOnPropertyChanged(object? sender, PropertyChangedEventArgs e)
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        SystemSettingRepository.PropertyChanged -= SystemSettingRepositoryOnPropertyChanged;
    }

}
