@page "/"
@using Amendment.Client.Repository
@using Amendment.Shared.Enums
@using Amendment.Shared.Responses
@inject ILanguageRepository LanguageRepository
@inject IHubEventService HubEventService
@inject IAmendmentRepository AmendmentRepository
@implements IDisposable

<PageTitle>Amendments</PageTitle>

<h1>Amendments</h1>

<Row>
    <Repeater Items="_languages" TItem="LanguageResponse">
        <Column ColumnSize="ColumnSize.Is4">
            <h4>@context.LanguageName</h4>
            @{
                var body = _bodies.FirstOrDefault(x => x.LanguageId == context.Id && x.IsLive);
            }
            
            @if (body != null)
            {
                <div class=@($"small-screen-container well slideonline {@context.LanguageName}")>
                    <AmendmentBodySingleRenderer BodyText="@body.AmendBodyPagedText"></AmendmentBodySingleRenderer>
                </div>
            }
            else
            {
                <div class=@($"small-screen-container well fill-well slideoffline {@context.LanguageName}")></div>
            }
            <Div TextAlignment="TextAlignment.Center">
                <Button Color="Color.Primary" Type="ButtonType.Link" To=@($"/View/{context.LanguageName}")>View</Button>
            </Div>
        </Column>
    </Repeater>
</Row>

@code
{
    List<LanguageResponse> _languages;
    List<AmendmentBodyResponse> _bodies = new();
    protected override async Task OnInitializedAsync()
    {
        _languages = (await LanguageRepository.GetAsync()).ToList();
        var amendment = await AmendmentRepository.GetLiveAsync();
        if (amendment != null)
        {
            _bodies = amendment.AmendmentBodies.ToList();
        }
        HubEventService.AmendmentBodyUpdated += AmendmentBodyUpdatedEvent;
        HubEventService.AmendmentBodyUpdatedMany += AmendmentBodyUpdatedEventMany;
    }

    private void AmendmentBodyUpdatedEventMany(object? sender, SignalRResponse<List<AmendmentBodyResponse>> e)
    {
        foreach (var item in e.Value)
        {
            AmendmendBodyUpdatedWork(e.OperationType, item);
        }
        StateHasChanged();
    }

    private void AmendmentBodyUpdatedEvent(object? sender, SignalRResponse<AmendmentBodyResponse> e)
    {
        AmendmendBodyUpdatedWork(e.OperationType, e.Value);

        StateHasChanged();
    }

    private void AmendmendBodyUpdatedWork(OperationType operationType, AmendmentBodyResponse body)
    {
        switch (operationType)
        {
            case OperationType.Create:
                if (body.IsLive)
                    _bodies.Add(body);
                break;
            case OperationType.Update:
                if (body.IsLive)
                {
                    var i = _bodies.FindIndex(x => x.Id == body.Id);
                    if (i > -1)
                        _bodies[i] = body;
                    else
                        _bodies.Add(body);
                }
                else
                    _bodies.RemoveAll(x => x.Id == body.Id);

                break;
            case OperationType.Delete:
                _bodies.RemoveAll(x => x.Id == body.Id);
                break;
        }
    }

    public void Dispose()
    {
        HubEventService.AmendmentBodyUpdated -= AmendmentBodyUpdatedEvent;
        HubEventService.AmendmentBodyUpdatedMany -= AmendmentBodyUpdatedEventMany;
    }
}
