@page "/Amendment"
@using Microsoft.AspNetCore.Authorization
@using Amendment.Shared.Responses
@using Amendment.Client.Repository
@using Amendment.Shared.Enums
@implements IDisposable
@attribute [Authorize]
@inject IAmendmentRepository AmendmentRepository
@inject IAmendmentBodyRepository AmendmentBodyRepository
@inject IHubEventService HubEventService

<PageTitle>Amendments</PageTitle>

<h3>Amendments</h3>

<Row>
    <Column>
        @if (_amendments.Any(a => a.IsLive))
        {
            <Button Color="Color.Danger" Clicked="ClearScreens">Clear Screens</Button>
        }
    </Column>
    <Column>

    </Column>
    <Column TextAlignment="TextAlignment.End">
        <Button Color="Color.Success" Type="ButtonType.Link" To="/Amendment/Create">Create Amendment</Button>
    </Column>
</Row>

<Table Striped>
    <TableHeader>
        <TableRow>
            <TableHeaderCell>Title</TableHeaderCell>
            <TableHeaderCell>Author</TableHeaderCell>
            <TableHeaderCell>Motion</TableHeaderCell>
            <TableHeaderCell Style="min-width: 200px"></TableHeaderCell>
            <TableHeaderCell Style="min-width: 300px"></TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        <Repeater Items="@_amendments">
            <AmendmentTableRow _model="context" OnDelete="RefreshAmendments" LiveAmendmentId="_amendments.SingleOrDefault(x => x.IsLive)?.Id"/>
        </Repeater>
        @if (!_amendments.Any())
        {
            <TableRow>
                <TableRowCell ColumnSpan="5">No Amendments Found</TableRowCell>
            </TableRow>
        }
    </TableBody>
</Table>

<h4>Key:</h4>
<Badge Background="Background.Light" TextColor="TextColor.Black50">Not Created</Badge>
<Badge Background="Background.Primary">Not Ready</Badge>
<Badge Background="Background.Success">Is Ready</Badge>
<Badge Background="Background.Danger">Is Live</Badge>


@code {
    List<AmendmentResponse> _amendments = new();

    protected override async Task OnInitializedAsync()
    {
        HubEventService.AmendmentUpdated += AmendmentUpdatedEvent;
        HubEventService.AmendmentBodyUpdated += AmendmentBodyUpdatedEvent;
        _amendments = (await AmendmentRepository.GetAsync()).ToList();
    }

    private void AmendmentBodyUpdatedEvent(object? sender, SignalRResponse<AmendmentBodyResponse> e)
    {
        var amendment = _amendments.SingleOrDefault(x => x.Id == e.Value.AmendId);
        if (amendment == null)
            return;
        var amendmentBodySummary = new AmendmentBodySummary { Id = e.Value.Id, AmendId = e.Value.AmendId, LanguageId = e.Value.LanguageId, AmendStatus = e.Value.AmendStatus, IsLive = e.Value.IsLive };
        switch (e.OperationType)
        {
            case OperationType.Create:
                amendment.AmendmentBodies.Add(amendmentBodySummary);
                break;
            case OperationType.Update:
                var i = amendment.AmendmentBodies.FindIndex(x => x.Id == amendmentBodySummary.Id);
                if (i > -1)
                    amendment.AmendmentBodies[i] = amendmentBodySummary;
                break;
            case OperationType.Delete:
                amendment?.AmendmentBodies.RemoveAll(x => x.Id == e.Value.Id);
                break;
        }
        StateHasChanged();
    }

    private void AmendmentUpdatedEvent(object? sender, SignalRResponse<AmendmentResponse> e)
    {
        switch (e.OperationType)
        {
            case OperationType.Create:
                _amendments.Add(e.Value);
                break;
            case OperationType.Update:
                var i = _amendments.FindIndex(x => x.Id == e.Value.Id);
                if(i > -1)
                    _amendments[i] = e.Value;
                break;
            case OperationType.Delete:
                _amendments.RemoveAll(x => x.Id == e.Value.Id);
                break;
        }

        StateHasChanged();
    }

    private Task RefreshAmendments()
    {
        return OnInitializedAsync();
    }

    public void Dispose()
    {
        HubEventService.AmendmentUpdated -= AmendmentUpdatedEvent;
        HubEventService.AmendmentBodyUpdated -= AmendmentBodyUpdatedEvent;
    }

    private async Task ClearScreens()
    {
        var liveAmendment = _amendments.FirstOrDefault(a => a.IsLive);
        if (liveAmendment == null)
            return;

        var amendmentId = liveAmendment.Id;
        var amendmentBodies = await AmendmentBodyRepository.GetAsync(amendmentId);

        var amendmentRequest = liveAmendment.ToRequest();
        amendmentRequest.IsLive = false;

        await AmendmentRepository.PutAsync(amendmentId, amendmentRequest);

        foreach (var body in amendmentBodies.Where(x => x.IsLive))
        {
            var bodyRequest = body.ToRequest();
            bodyRequest.IsLive = false;
            bodyRequest.Page = 0;
            await AmendmentBodyRepository.PutAsync(amendmentId, body.Id, bodyRequest);
        }
    }

}
