@using Amendment.Shared.Responses
@using Amendment.Client.Repository
@using Amendment.Shared.Requests
@inject ISystemSettingRepository SystemSettingRepository

<TableRow>
    <TableRowCell>@Context.Key</TableRowCell>
    <TableRowCell>
        <TextEdit id="username" @bind-Text="Context.Value" />
    </TableRowCell>
    <TableRowCell TextAlignment="TextAlignment.End">
        <Button Color="Color.Primary" Clicked="OnSaveClick">Save</Button>
    </TableRowCell>
</TableRow>
@code {

    [Parameter]
    public SystemSettingResponse Context { get; set; } = new();

    private Task OnSaveClick()
    {
        return SystemSettingRepository.PutAsync(Context.Id, new SystemSettingRequest { Key = Context.Key, Value = Context.Value });
    }

}
