@inherits Markdown
<h3>AmendmentMarkdown</h3>

@code {
    protected override Task OnInitializedAsync()
    {
        var test = this.CreateDotNetObjectRef(this);

        return base.OnInitializedAsync();
    }

}
