@model Amendment.Model.ViewModel.Amendment.AmendmentDetailsViewModel

@{
    ViewBag.Title = "Delete Amendment";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<h3>Are you sure you want to delete '@Model.AmendTitle'</h3>

@using (Html.BeginForm())
{
    <button type="submit" class="btn btn-danger">Delete</button>
}
