@model System.Collections.Generic.List<Amendment.Model.ViewModel.Amendment.AmendmentDetailsViewModel>

@{
    ViewBag.Title = "Amendments";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

@Html.ActionLink("Create", "Create", null, null, new { @class = "btn btn-success pull-right" })

<div id="amendmentList">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Motion</th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: amendments">
            <tr>
                <td data-bind="text: amendTitle"></td>
                <td data-bind="text: author"></td>
                <td data-bind="text: motion"></td>
                <td class="text-center">
                    <a data-bind="attr: { href: editUrl + '/' + id }" class="btn btn-primary">Edit</a>
                    <a href="#" class="btn btn-danger">Delete</a>                
                </td>
            </tr>
        </tbody>
    </table>
</div>


@section Scripts
    {
    <script type='text/javascript' src='~/js/knockout-3.4.2.js'></script>

    <script>
        var initialData = @Json.Serialize(Model);
        var editUrl = '@Url.Action("Edit")';

        var AmendmentModel = function(amendments) {
            var self = this;
            //self.contacts = ko.observableArray(ko.utils.arrayMap(contacts, function(contact) {
            //    return { firstName: contact.firstName, lastName: contact.lastName, phones: ko.observableArray(contact.phones) };
            //}));
            self.amendments = ko.observableArray(amendments);

            //self.addContact = function() {
            //    self.contacts.push({
            //        firstName: "",
            //        lastName: "",
            //        phones: ko.observableArray()
            //    });
            //};

            //self.removeContact = function(contact) {
            //    self.contacts.remove(contact);
            //};

            //self.addPhone = function(contact) {
            //    contact.phones.push({
            //        type: "",
            //        number: ""
            //    });
            //};

            //self.removePhone = function(phone) {
            //    $.each(self.contacts(), function() { this.phones.remove(phone) })
            //};

            //self.save = function() {
            //    self.lastSavedJson(JSON.stringify(ko.toJS(self.contacts), null, 2));
            //};

            //self.lastSavedJson = ko.observable("")
        };
 
        ko.applyBindings(new AmendmentModel(initialData), document.getElementById("amendmentList"));
    </script>
}
